.card {
  border: 1px solid var(--ifm-color-emphasis-300);
  box-shadow: none;
  height: 100%;

  /* &Container {
        margin-bottom: calc(var(--ifm-spacing-horizontal) * 2);
    } */
}

.image {
  background: #f7f7f7;
  position: relative;
}

.secondaryText {
  color: rgb(173 173 173);
}

.cardContainer {
  margin-bottom: calc(var(--ifm-spacing-horizontal) * 2);
}

.bgDanger {
  background-color: red;
  height: 9rem;
  padding: 2rem;
  color: white;
}

.bgSuccess {
  background-color: green;
  height: 9rem;
  padding: 2rem;
  color: white;
}
